<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee">
	<display-name>ATG Webservices</display-name>
	<context-param>
		<param-name>atg.session.parentContextName</param-name>
		<param-value>/dyn</param-value>
	</context-param>
	<context-param>
		<param-name>atg.dafear.bootstrapContextName</param-name>
		<param-value>/dyn</param-value>
	</context-param>
	<context-param>
		<param-name>context-root</param-name>
		<param-value>webservices</param-value>
	</context-param>
	<filter>
		<filter-name>PageFilter</filter-name>
		<filter-class>atg.filter.dspjsp.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
        <filter-name>PageFilter</filter-name>
        <servlet-name>AxisServlet</servlet-name>
    </filter-mapping>
	<filter>
		<filter-name>ADCDataInsertFilter</filter-name>
		<filter-class>atg.filter.ConditionalDelegatingFilter</filter-class>
		<init-param>
			<param-name>targetFilter</param-name>
			<param-value>atg.adc.filter.ADCDataInsertFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ADCDataInsertFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<servlet>
    <servlet-name>InquireOrderDetails</servlet-name>
    <servlet-class>
        com.com.cricket.ws.order.InquireOrderDetails
    </servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MappedJumpServlet</servlet-name>
		<servlet-class>atg.repository.seo.MappedJumpServlet</servlet-class>
		<init-param>
			<param-name>loggingDebug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jumpServlet</param-name>
			<param-value>ctx:dynamo:/atg/dynamo/servlet/dafpipeline/JumpServlet</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>NucleusServlet</servlet-name>
		<servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DynamoProxyServlet</servlet-name>
		<servlet-class>atg.nucleus.servlet.NucleusProxyServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DynamoProxyServlet</servlet-name>
		<url-pattern>/dyn/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NucleusServlet</servlet-name>
		<url-pattern>/nucleus/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MappedJumpServlet</servlet-name>
		<url-pattern>*.jump</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>Secured WS</web-resource-name>
			<url-pattern>/services/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>RoleUserWS</role-name>
		</auth-constraint>
	</security-constraint> -->
	<!-- <login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Web service security</realm-name>
	</login-config>
	<security-role>
		<role-name>RoleUserWS</role-name>
	</security-role> -->
</web-app>

