.site-map {
	h2 {color: #008752;font-size: 30px;}
	h3 {
		font: normal 18px/22px 'GothamBlack';
		text-transform: uppercase;
		color: #008752;
	}
	ul li {list-style-type: none;}
	ul li ul {margin-left: 0; }
}

/* Order Status Page Addon */
#constructor.order-status {
  p {font-family: 'GothamBook';}
  h1 {color: #008752;}
  h1 span {color: #20a82c;}
  #statusform {background-color: #F1F1F1; padding-bottom: 3em;}
  #statusform-header.row {background-color: transparent; padding-top: 2em;}
  #statusform-content {border: 2px solid #e3e3e3; padding: 2em; background: #fff;}
  #order_num { margin: 0 10px 0 0; line-height: 2em; color: #333; }
  #erroremptyorder p{font-weight: bold; color: #dc0000;}
  
  h2, .order-number {font-size: 1.1em; font-family: 'GothamMedium'; font-weight: bold; padding-left: 0.5em;}
  table {border: none;}
  table tr {background-color: transparent;}
  table td {vertical-align:text-top; font-family: 'GothamBook'; }
  label {color: #333; font-weight: bold;}
  
  #order-activity {
    background-color: #f7f7f7; 
    border-left: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    border-top: none;
    padding: 1em 2em;
  }
  #order-activity h2 {color: #008752;}
  #order-activity .row {padding: 0;}
  #order-activity table tr {background-color: #f7f7f7;}
}