/** HEADER **/
#header {
  padding-bottom: 0;
  @include respond-min($small-screen) {padding-bottom: 10px; }
}

#header .mobile-location {
  background: #333;
  display: block;
  height: emCalc(28px);
  width: 100%;
  display: block;
  text-align: center;
  @include respond-min($small-screen) {display: none; }
  p {
    padding-top: 0;
    @include respond-min($small-screen) {
      margin-left: 40%;
      margin-right: 0;
    }
  }
  p a {
    background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/icon-location.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) left -1px no-repeat;
    color: #c8c8c8;
    display: inline-block;
    font: normal emCalc(12px) Arial;
    padding: emCalc(2px) 0 emCalc(5px) emCalc(22px);
  } 
  .location-center{
    display: inline-block;
    margin: 0 auto;
    @include respond-min($small-screen) {display: none; }
  }
}
  
#nav-utility {
  @include respond-min($small-screen) {
    p.heading, h3, #mobileLoginForm, hr, .indicator-black-west { display: none; }
  }
}
  

#nav-utility.mobile-utility {
  background: #333 url(//images.mycricket.com/cricket?set=imageURL[file:/img/bg-nav-utility-mobile-border-top.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) 0 28px repeat-x;
  display: block;
  height: 100%;
  position: absolute;
  right: -90%;
  width: 90%;
  margin-top: emCalc(-28px);
  .indicator-black-west {
    background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/indicator-black-west.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) 0 0 no-repeat;
    height: 15px;
    position: absolute;
    width: 6px;
    left: -6px;
    top: 61px;
    z-index: 1;
  }
  p.heading {
 	color: #CCCCCC;
    font: 18px 'GothamBook';
    padding: 3em 0 0.625em 1.25em;
 	  margin-bottom: 0.5em;
    margin-top: 0.2em;
  }
  &.logged-in{
    p.heading {
      padding: 3em 0 emCalc(76px) 1.25em;
    }
  }
  form {margin-bottom: 0;}
  hr {
    @include hr;
    margin: emCalc(5px) emCalc(20px) 0;
    width: 88%;
  }
    
  #mobileLoginForm {      
    padding-left: emCalc(20px);
    input {width: 93%;}
    label {
      color: #c8c8c8;
      font: normal 12px Arial;
      margin: emCalc(10px) 0 emCalc(25px);
      text-transform: uppercase;
    }
    p {
      margin-bottom: emCalc(15px);
      padding-left: emCalc(5px);
    }
    a {
      color: #c8c8c8;
      font: normal 12px Arial;
      text-transform: uppercase;
    }
    a.button {
      @include btn-cricket($orange-2);
      font: normal emCalc(15px) 'GothamBook';
      padding: emCalc(13px) 0;
      width: 93%;     
    } 
    .errors-mobile-login {
      display: none;  
      width: 93%;
      p {
        border-top: 1px solid $orange-2;
        color: $orange-2;
        padding: emCalc(10px) 0 0;
        font-size: 12px;
      } 
      label {text-transform: none;}
    }
  } /* END /#mobileLoginForm */
        
  ul li {
    display: block;
    height: emCalc(36px);
    text-transform: uppercase;
    a {
      border-right: 0;
      font-size: 12px;
      padding: 0 0 0 emCalc(34px);
    }
    &#li-coverage-map a {
      background-image: none;
      padding-left: emCalc(34px);
    }
  
    &#li-location {
      position: absolute;
      top: -4px;
      left: 27%;
    }
    &#li-location a {
      cursor: default;
       &.open {color: #c8c8c8;}
    }

    &#li-log-in {
      display: none;
      position: absolute;
      top: emCalc(225px);
      left: emCalc(20px);
      width: 111%;
    }
    &#li-log-in a {
      background-image: none;
      font-size: emCalc(20px);
      padding: emCalc(10px) 0;
      width: 80%;
    }
    &#li-username {
      position: absolute;
      top: emCalc(110px);
      left: emCalc(25px);
    }         
    
    &#nav-utility-right {
      display: block;
      margin-top: emCalc(5px);
      padding-top: emCalc(5px);
      #drawer-utility-indicator {
        &.dui-location {display: none !important;}
      }
    }
  } /* / ul li */
} /* END .mobile-utility */

#nav-utility {
  background-color: #333;
  min-height: emCalc(43px);
  display: none;
  @include respond-min($small-screen) {display: block; height: 38px; min-height: 0; }
  
  .side-menu-close {    
    position: absolute;
    top: emCalc(45px);
    right: emCalc(20px);
    display: block;
    @include respond-min($small-screen) { display: none; }
    a {
      background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/close.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain])  0 0 no-repeat;      
      display: block;
      text-indent: -99999px; 
      height: emCalc(19px);
      width: emCalc(19px);
    }
  } /* /.side-menu-close */

  ul {
    display: inline;
    list-style: none;
    float: left;
    width: auto !important;
    @include respond-min($small-screen) {
      line-height: emCalc(20px);
      margin-bottom: 0;
    }
    &#nav-utility-right {
      @include respond-min($small-screen) {
        float: right;
        position: relative;
        width: auto;
      }
    }
    li {
      display: inline-block;
      margin-top: emCalc(5px);
      a {
        border-right: 1px solid #525252;
        color: #c8c8c8;
        font: normal emCalc(11px) Arial;
        padding: 0 emCalc(15px) emCalc(5px) emCalc(13px);
        &.no-pipe {border-right: 0; }
      }
      &#li-coverage-map a {
        background: none;
        padding-left: emCalc(10px);
        @include respond-min($tablet-landscape) { 
          background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/icon-coverage-map.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) left 2px no-repeat;
          padding-left: emCalc(50px);
          padding-top: emCalc(3px);
        }
      }
      &#li-location a {
        background: none;
        @include respond-min($tablet-landscape) {
          background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/icon-location.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) left -1px no-repeat;          
          margin-left: emCalc(8px);
          padding-left: emCalc(25px);
          padding-top: emCalc(4px);
        }
        &.open {color: green;}
      }
      &#li-log-in a {
        @include btn-cricket($orange-2);
        background-image: url(//images.mycricket.com/cricket?set=imageURL[file:/img/icon-my-account-small.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]);        
        background-position: 3px center;
        background-repeat: no-repeat;
        font: normal 11px 'GothamMedium';           
        padding: emCalc(5px) emCalc(13px) emCalc(5px) emCalc(27px);
        top: 0;
		margin-bottom: 0;
        width: 120px;
        &.open {background-color: #ccc; border-color: #ddd;}
      }
      &#li-log-out {display: none;}
      &#li-log-out a {
        border-left: 1px solid #525252;
        &.open {
          background-color: #ccc;
          border-color: #ddd;
        }
      }
      &#li-username {display: none;}
      &#li-username a {
        background-image: url(//images.mycricket.com/cricket?set=imageURL[file:/img/icon-my-account-small-orange.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]);        
        background-position: 3px center;
        background-repeat: no-repeat;
        color: $orange-1;
        padding: emCalc(7px) emCalc(13px) emCalc(3px) emCalc(30px);
      }
    } /* /li */
  } /* /ul */  
} /* END #nav-utility */

#header .top-bar {
  background: #333;
  @include respond-min($small-screen) { background: transparent; }
  padding: 0;
  .name div { background-color: #fff; 
    a { 
      padding-left: 0;
      margin-left: emCalc(3px);
      @include respond-min($mobile-480-screen) { margin-left: emCalc(10px); } 
	  img { max-width: none; }
    } 
  }
    
  /* mobile nav icons; cart, nav, account drawer */
  .cart-icon {
    display: block;
    top: 40%;
    padding-right: 2%;
    height: 30px;
    position: absolute;
    right: 28%;
    @include respond-min($small-screen) {display: none; }
    a {
      background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/sprite.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) 0 0 no-repeat;
      display: block;
      height: emCalc(27px);
      padding-left: emCalc(10px);
      text-indent: -99999px;
      width: emCalc(29px);
      &.open {
        background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/sprite.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) -40px 0 no-repeat;
      } 
      &.num-cart-items {
        @include border-radius(10px); 
        position: absolute;
        top: -10px;
        right: 2px;
        height: 20px;
        width: 20px;
        background-color: $orange-1;
        border: 2px solid #fff;
        font-size: 12px;
        color: #fff;
        text-align: center;
        text-indent: 0;
        font: normal emCalc(11px) 'GothamBook';
        padding: 2px 1px 0 2px;
      }
    }
  }

  .menu-icon {
    right: 15%;
    top: 60%;
    padding-left: 0;
    width: 34px;
    height: 34px;
    a {text-indent: 0;} /* text-indent: -34px; was messing up hit spot for Android devices @ 700px */
    a span {right: 10px; }
  }
                
  .account-icon {
    display: block;   
    position: absolute;
    right: 4%;
    top: 40%;
    padding-left: emCalc(10px);   
    height: 30px; 
    a {
      background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/sprite.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) -120px 0 no-repeat;      
      display: block;
      height: emCalc(25px);
      padding: 0;
      text-indent: -99999px;
      width: emCalc(22px);
      &.open {
        background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/sprite.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) -180px 0 no-repeat;        
      }       
    }
  }
        
  #open-side-menu {
    display: block;
    @include respond-min($small-screen) {display: none;}
  }

  section ul#nav-main {
    background: #333;
    padding-bottom: 4em;
    position: relative;
    @include respond-min($small-screen) {
      background: transparent;
      height: auto;
      margin-top: emCalc(10px); 
      position: absolute;
      top: emCalc(20px);
      right: emCalc(17px);
      padding-bottom: 0;  
    }
      
    li {    
      border-radius: 0;
      @include respond-min($small-screen) { padding: 0 emCalc(28px) 0 0; }
      
      a {
        color: #ccc;
        font: normal 18px 'GothamLight';  
        padding: emCalc(8px) 0 emCalc(8px) emCalc(20px);
        
        @include respond-min($small-screen) {
          background: transparent; 
          color: #000;
          padding: 0;
        }
        &:hover {color: #008752;}
        &.active {color: #008752;}
      }                 
        
      &.active a {background: transparent;}
          
      &.has-dropdown a {
        background: #333 url(//images.mycricket.com/cricket?set=imageURL[file:/img/arrow-mobile-nav.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) 95% 10px no-repeat;        
        &:after {border-style: none;}
        &.hover a {color: #008752;} 
        
        @include respond-min($small-screen) {
          background: transparent;
          padding-right: 0 !important;
        }
      }
      &.has-dropdown {
        ul.dropdown {
          h5 a {color: $orange-1; background: none;}
        }
      }
        
      &#li-cart {
        display: none;
        padding-right: emCalc(14px);
        @include respond-min($small-screen) { display: block; position: relative; }
        a {
          background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/sprite.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) 0 0 no-repeat;        
          display: block;
          height: emCalc(26px);
          text-indent: -99999px;
          width: emCalc(27px);
          &.open {
            background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/sprite.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) -40px 0 no-repeat;        
          }
          &.num-cart-items {
            @include border-radius(10px); 
            position: absolute;
            top: -10px;
            right: 2px;
            height: 20px;
            width: 20px;
            background-color: $orange-1;
            border: 2px solid #fff;
            font-size: 12px;
            color: #fff;
            text-align: center;
            text-indent: 0;
            font: normal emCalc(11px) 'GothamBook';
            padding: 2px 2px 0 2px;		
          }
        } 
      }
        
      &#li-search {
        border-left: 1px solid #d4d4d4; 
        padding-left: emCalc(14px);
        padding-right: 0;
        display: none;
        @include respond-min($small-screen) { display: block; }
        a {
          background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/sprite.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) 0 -40px no-repeat;        
          display: block;
          height: emCalc(26px);
          text-indent: -99999px;
          width: emCalc(24px);
          &.open {
            background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/sprite.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) -40px -40px no-repeat;        
          }
        }
      }
          
      &#li-mobile-search {
        display: block;
        margin-top: emCalc(20px);
        margin-bottom: emCalc(10px);
        @include respond-min($small-screen) { display: none; }
        .small-offset-1 {margin-left: 4.33333%;}
        #search-input {position: relative;}
        .prefix.button {
          height: 2.4em;
          font-size: 0.9em;
          line-height: 1.4em;
          padding: 0.5em 0.5em 0.5em 0.5em;
          font-family: "GothamMedium";
        }
      }         
          
      @include respond-min($small-screen) {
        ul.dropdown {         
          background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/indicator-dropdown.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) 50px 19px no-repeat;        
          border-bottom: 1px solid #e9e9e9;           
          padding-top: emCalc(24px);
          right: auto;
          left: -30px;            
            -moz-box-shadow:    0 8px 6px -6px #ccc;
            -webkit-box-shadow: 0 8px 6px -6px #ccc;
            box-shadow:         0 8px 6px -6px #ccc;

          li {
            background-color: #fff;
            border-top: 1px solid #e9e9e9;
            border-left: 1px solid #e9e9e9;
            border-right: 1px solid #e9e9e9;              
            min-width: emCalc(196px);
            a {
              color: #333 !important;
              font: normal 13px 'GothamBook';
              padding: emCalc(20px) 0 emCalc(20px) emCalc(28px);

            }
            &.hover a {color: green !important;}
          }
        
        } /* ul.dropdown */ 
      } 
                                                  
    } /* END li */
    
  } /* END ul#nav-main */
  
} /* END .top-bar */  
  
.lt-ie9 #header .top-bar section ul#nav-main li#li-cart a.num-cart-items {
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/bg-cart-number.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) 0 0 no-repeat;
	height: 24px;
	width: 24px;
	background-color: transparent;
	border: 0;	
	padding: 6px 0 0 8px;
} 

.ie9 #header .top-bar section ul#nav-main li#li-cart a.num-cart-items,
.ie10 #header .top-bar section ul#nav-main li#li-cart a.num-cart-items {
	padding: 2px 4px 0;
} 

/* Bottom of header 'drawers' for Cart, Login, Search */
#drawer-indicator {
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/indicator-main-nav.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) 0 0 no-repeat;
  display: none;
  height: emCalc(6px);
  width: emCalc(15px);
  position: absolute; 
  bottom: emCalc(-11px);
}

.di-cart {
  display: block !important;
  right: emCalc(77px);
}

.di-search {
  display: block !important;
  right: emCalc(25px);
}
  
.drawer-top-border {border-top: emCalc(1px) solid #484848;} 

.drawer-utility {
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  -webkit-transition: height .2s;
  transition: height .2s;
  height: 0;
  overflow: hidden;
  width: 100%;
  .drawer-wrapper {
    background: #333; 
    margin-top: 0;
    width: 100%;
    .form-container { padding: emCalc(60px) 0 emCalc(80px);}
  }
  p {
    color: #c8c8c8;
    font: normal 12px Arial;
  &.heading {
    color: #c8c8c8;
    font: normal 18px 'GothamBook';
margin-bottom: 0.5em;
    margin-top: 0.2em;
  }    
  }

  input, a.button {margin-top: emCalc(15px);}
  a.button {
    @include btn-cricket($orange-2);
    margin-top: emCalc(15px);
    padding-bottom: emCalc(10px);
  }
  a.button.prefix {
    line-height: 2.125em;
    margin-top: 1em;
    height: 2.5em;
  }
}

.drawer {
  background: #f7f7f7;
  .drawer-wrapper {
    background: #f7f7f7 url(//images.mycricket.com/cricket?set=imageURL[file:/img/bg-gradient-drawer.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) center top repeat-x;
    border-top: emCalc(1px) solid #dcdcdc;
  }
}

#drawer-utility-indicator {
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/indicator-utility-nav.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) 0 0 no-repeat;
  display: none;
  height: emCalc(7px);
  width: emCalc(20px);
  position: absolute;   
  top: emCalc(32px);
  z-index: 1;
}

.dui-location {
  display: block !important;
  right: emCalc(148px);
}

.dui-log-in {
  display: block !important;
  right: emCalc(57px);
}
    
#drawer-location {
  .login-message {
    padding-top: emCalc(15px);
    width: 20%;
    a {color: $orange-2;}
  } 
  
  .errors-location {
    display: none;  
    p {
      border-top: 1px solid $orange-2;
      color: $orange-2;
      padding: emCalc(10px) 0 0;
    } 
  }
  
  .zip-results {
    border-top: 1px solid #ccc;
    padding-top: emCalc(20px);
    display: none;
    p.heading {
      color: #fff;
      font: bold 13px Arial;
      margin-top: 0;
	margin-bottom: 0.5em;
    }
    a {margin: 0;}
  }
    
} /* END #drawer-location */
  
#drawer-log-in {
  p {
    color: #c8c8c8;
    font: normal 12px Arial;
  &.heading {
    color: #c8c8c8;
    font: normal 18px 'GothamBook';
margin-bottom: 0.5em;
    margin-top: 0.2em;
  }
  }
  ul {list-style: none;}
  ul li {
    border-right: 1px solid #484848;
    color: #c8c8c8;
    display: inline-block;
    height: emCalc(18px);
    font: normal 13px Arial;
    margin-right: emCalc(12px);
    padding-right: emCalc(16px);
    &.no-pipe {border-right: 0;}
    &.last {
      margin-right: 0;
      padding-right: 0;       
    }
    label {
      color: #c8c8c8;
      font: normal 13px Arial;
    }
    a {color: $orange-1;}
    a.button {
      @include btn-cricket($orange-2);
    }
  }
  
  label.password-label-ie {
    display: none;
    color: #C8C8C8;
    font-size: 13px;
  }
  
  .errors-login {
    display: none;
    p {
      border-top: 1px solid $orange-2;
      color: $orange-2;
      padding: emCalc(10px) 0 0;
    } 
  }
}

/* Moved #drawer-cart styles to _cart.scss file */

#drawer-search {
  .row.first {padding: emCalc(20px) 0;}
  #search-input {position: relative;}
  .close-drawer {margin: 1em auto;}
  .close-drawer a {
    background-position: 50% 50%;
    width: 100%;
  } 
}

.close-drawer {
  padding-right: emCalc(22px);
  a {
    background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/close.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) 0 0 no-repeat;
    display: block;
    padding-top: emCalc(3px);
    text-indent: -99999px; 
    height: emCalc(19px);
    width: emCalc(19px);
  } 
} 

#drawer-mobile-location {
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  -webkit-transition: height .2s;
  transition: height .2s;
  height: 0;
  overflow: hidden;
  width: 100%;  
  .drawer-wrapper {
    background: #333; 
    margin-top: 0;
    width: 100%;  
    .form-container { 
      padding: emCalc(20px) emCalc(20px) emCalc(150px); 
      input {width: 95%;}
		p.heading {
			color: #FFFFFF;
			font: 18px 'GothamBook';
			margin-top: 1.25em;
			text-transform: uppercase; 	
			margin-bottom: 0.5em;		
		}
      .errors-mobile-location {
        display: none;  
        width: 95%;
        p {
          border-top: 1px solid $orange-2;
          color: $orange-2;
          padding: emCalc(10px) 0 0;
        }                 
      } 
      
      .mobile-zip-results {
        display: none;
        border-top: 1px solid #ccc;
        padding-top: emCalc(10px);
        width: 95%;
    p.heading {
      color: #fff;
      font: bold 13px Arial;
      margin-top: 0;
	margin-bottom: 0.5em;
    }
        ul li {padding: emCalc(10px) 0;}
        a {
          display: block;
          width: 100%;
        }
      }
    }
  }
    
  h2 {
    color: #fff;
    font: normal 18px 'GothamBook';
    margin-top: emCalc(20px);
  }
  p {
    color: #fff;
    font: normal 13px Arial;
  }
  hr {
    margin: emCalc(5px) 0 emCalc(15px);
    width: 95%;
  }
  a {
    &.button {
      @include btn-cricket($orange-2);
      margin-bottom: 0;
      width: 95%;
    }
    &.btn-log-in-now {
      color: $orange-1;
      text-transform: uppercase;
    }
  }
}
/* END Drawers */ 