$fix-mqs: 768px;

//@import "mixins";

* {background-color: transparent;}

/*CSS2 selector to add visible href after links */
/*#constructor a:link:after, #constructor a:visited:after,  #constructor a{
  content: " (" attr(href) ") ";
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  clear: both;  
}*/

body {
  width: 100%;
}

div, table, body {margin: 0; float: none; }

.row { width: 100%; max-width: $fix-mqs; min-width: $fix-mqs; margin: 0 auto; }

/* We need to hide a bunch of stuff */
#drawer-mobile-location, #nav-utility, #drawer-location, #drawer-log-in,
#nav-main, #header .mobile-location, #header .cart-icon, #section-lifestyle,
#print-receipt, #footer, #footer-utility {
  display: none !important;
}

/* Main Reason we have this print Stylesheet is for Order Printing, 
lets add some floats to that page*/
#constructor.section-checkout {
  .section-progress-content {
    padding-left: 0 !important;
  }
  #section-checkout-form .details-content {
    border: none;
    padding: 0;
    margin: 0;
    clear: both;
    float: none;
    width: 100%;
    .divider-thankyou {
      padding: 0;
      display: none;
    }
    .order-number {
      padding-left: 0;
    }
    .receipt {
      border-bottom: 1px solid #CCCCCC;
      padding-left: 0;
      padding-right: 0;
      clear: both;
      float: none;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .divider {
    display: none !important;
    width: 0%;
    height: 0%;
  }

  .form {
    width: 49%;
    float: left;
    #customer-info {
      padding-left: 0;
    }
    .customer-info-item {
      width: 100%;
      float: none;
    }
    .large-12, .columns {
      width: 45%;
      float: none;
    }
    .autopay-label {
      display: none;
    }
  }
  .summary {
    padding-left: 0;
    table {
      width: 35% !important;
    }
  }
  #order-list {
    width: 100%;
    float: none;
  }
  #tab-content {
    width: 49%;
    float: right;
  }
  #overview-total {
    float: none;
    clear: both;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    table {
      width: 90% !important;
    }
  }
  .section-container {
    width: 49%;
    float: none;
    border: none;
    section.active .content {
      border: none;
      padding-top: 0 !important;
    }
    section.active .title, section.active .title a {
      border: none;
    }
  }
}