
/* line 20, ../sass/_whycricket.scss */
.section-why-cricket ul {
  list-style-position: outside;
  line-height: 1.3em;
  margin-left: 1em;
  margin-bottom: 0;
}
/* line 26, ../sass/_whycricket.scss */
.section-why-cricket ul.last {
  margin-bottom: 1em;
}
/* line 27, ../sass/_whycricket.scss */
.section-why-cricket ul li {
  margin: 0;
  font-family: "GothamMedium";
  font-size: 0.9em;
}
/* line 33, ../sass/_whycricket.scss */
.section-why-cricket .circle-arrow {
  display: inline;
  margin-left: 1em;
}
/* line 34, ../sass/_whycricket.scss */
.section-why-cricket ul {
  padding-left: 0;
  float: left;
  padding-right: 1em;
}
/* line 38, ../sass/_whycricket.scss */
.section-why-cricket ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 43, ../sass/_whycricket.scss */
#section-banner.why-cricket {
  position: relative;
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/left-power-pixel.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat 0 0;
}
/* line 45, ../sass/_whycricket.scss */
#section-banner.why-cricket .why-power-pixels {
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/right-power-pixel.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat 100% 0%;
  height: 85px;
  position: absolute;
  right: 0;
  top: 0;
  width: 514px;
  z-index: 2;
}
/* line 54, ../sass/_whycricket.scss */
#section-banner.why-cricket h1 {
  color: #49da3f;
  font-size: 3.8em;
  line-height: 0.8em;
  margin-top: 0.7em;
}
/* line 59, ../sass/_whycricket.scss */
#section-banner.why-cricket h1 span {
  display: block;
  color: #008752;
}
/* line 61, ../sass/_whycricket.scss */
#section-banner.why-cricket h4 {
  color: #008752;
  font-size: 1.2em;
  line-height: 0.9em;
  max-width: 70%;
}
/* line 67, ../sass/_whycricket.scss */
#section-banner.why-cricket p {
  font-size: 0.8em;
  line-height: inherit;
  margin-bottom: 2em;
}
/* line 70, ../sass/_whycricket.scss */
#section-banner.why-cricket .row.wrapper {
  padding: 8em 0em 0 1em;
}
/* line 71, ../sass/_whycricket.scss */
#section-banner.why-cricket h1 {
  font-size: 4.1em;
}
/* line 72, ../sass/_whycricket.scss */
#section-banner.why-cricket .columns {
  padding: 0;
}
/* line 73, ../sass/_whycricket.scss */
#section-banner.why-cricket .left-content {
  width: 45%;
}
/* line 74, ../sass/_whycricket.scss */
#section-banner.why-cricket .right-content {
  width: 55%;
  padding-left: 1.5em;
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/black-vertical-line.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat 0 50%;
}

/* line 89, ../sass/_whycricket.scss */
#plans-callout.why-cricket {
  background: #016d33 url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/bg-plans-callout-mobile.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat 50% 0;
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/bg-plans-callout.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat 50% 50%;
  height: 550px;
  margin-top: -2em;
}
/* line 91, ../sass/_whycricket.scss */
#plans-callout.why-cricket .left-content {
  padding: 0.5em;
}
/* line 92, ../sass/_whycricket.scss */
#plans-callout.why-cricket h2 {
  font-size: 42px;
  color: #c1d72e;
  margin-bottom: 0;
}
/* line 97, ../sass/_whycricket.scss */
#plans-callout.why-cricket ul {
  margin-left: 0;
}
/* line 98, ../sass/_whycricket.scss */
#plans-callout.why-cricket ul li.first {
  margin-left: -8px;
}
/* line 99, ../sass/_whycricket.scss */
#plans-callout.why-cricket h2 span, #plans-callout.why-cricket h4, #plans-callout.why-cricket h3, #plans-callout.why-cricket p {
  color: #fff;
}
/* line 100, ../sass/_whycricket.scss */
#plans-callout.why-cricket h4 {
  font-size: 20px;
  margin-top: 0;
}
/* line 101, ../sass/_whycricket.scss */
#plans-callout.why-cricket a.circle-arrow {
  font-size: 12px;
  padding-left: 2em;
  padding-bottom: 0.4em;
}
/* line 102, ../sass/_whycricket.scss */
#plans-callout.why-cricket a.circle-arrow.white {
  background-size: 15px 15px;
}
/* line 103, ../sass/_whycricket.scss */
#plans-callout.why-cricket a img {
  border: 1px solid #fff;
  margin-right: 1em;
}
/* line 107, ../sass/_whycricket.scss */
#plans-callout.why-cricket .video-thumb {
  display: block;
}
/* line 108, ../sass/_whycricket.scss */
#plans-callout.why-cricket .mixed-colors-title {
  margin-top: 1.0em;
  font-size: 1.5em;
  letter-spacing: 0;
}
/* line 113, ../sass/_whycricket.scss */
#plans-callout.why-cricket .yellow-green {
  color: #c1d72e;
}
/* line 114, ../sass/_whycricket.scss */
#plans-callout.why-cricket .dark-green {
  color: #00573c;
}
/* line 115, ../sass/_whycricket.scss */
#plans-callout.why-cricket .circle-arrow {
  float: none;
}
/* line 117, ../sass/_whycricket.scss */
#plans-callout.why-cricket .small-block-grid-1 > li {
  clear: none !important;
  width: 25%;
}
/* line 123, ../sass/_whycricket.scss */
#plans-callout.why-cricket .left-content {
  padding: 6em 0 0 0;
}
/* line 124, ../sass/_whycricket.scss */
#plans-callout.why-cricket .video-thumb {
  display: inline;
}

/* IE9 & 10 adjustments, forcing to fixed width thumbnails */
/* line 134, ../sass/_whycricket.scss */
.ie9 #plans-callout.why-cricket ul li,
.ie10 #plans-callout.why-cricket ul li {
  width: 100px;
  height: 55px;
}

/* line 140, ../sass/_whycricket.scss */
#latest-smartphones {
  padding: 1em 0;
  padding: 0;
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/bg-latest-smartphones.png],imageHeight[0],imageFormat[png],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat top center;
  margin-top: -2em;
  height: 400px;
}
/* line 142, ../sass/_whycricket.scss */
#latest-smartphones h2 {
  color: #008752;
  font-size: 2.4em;
  line-height: 0.8em;
  margin-bottom: 0.4em;
}
/* line 148, ../sass/_whycricket.scss */
#latest-smartphones h2 span {
  color: #0da82c;
}
/* line 155, ../sass/_whycricket.scss */
#latest-smartphones .right-content {
  padding-top: 4em;
  padding-right: 4em;
}
/* line 156, ../sass/_whycricket.scss */
#latest-smartphones h2 {
  font-size: 2.8em;
}

/* line 160, ../sass/_whycricket.scss */
#flexible-payment-plans {
  padding: 1em 0;
  background-color: #2ba63c;
  background-image: -webkit-linear-gradient(top, #009c3f 0%, #56b139 100%);
  background-image: -moz-linear-gradient(top, #009c3f 0%, #56b139 100%);
  background-image: -ms-linear-gradient(top, #009c3f 0%, #56b139 100%);
  background-image: -o-linear-gradient(top, #009c3f 0%, #56b139 100%);
  background-image: linear-gradient(to bottom, #009c3f 0%, #56b139 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009c3f', endColorstr='#56b139');
  min-height: 50px;
  background: #02a53e url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/bg-flexible-payment-plans.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat 50% 0;
}
/* line 163, ../sass/_whycricket.scss */
#flexible-payment-plans h4, #flexible-payment-plans p {
  color: #fff;
}
/* line 164, ../sass/_whycricket.scss */
#flexible-payment-plans h4 {
  font-size: 20px;
  margin-top: 0.25em;
}
/* line 165, ../sass/_whycricket.scss */
#flexible-payment-plans p {
  margin-top: 0.5em;
}
/* line 166, ../sass/_whycricket.scss */
#flexible-payment-plans a {
  margin: 0;
}
/* line 170, ../sass/_whycricket.scss */
#flexible-payment-plans .columns {
  padding: 0;
}
/* line 171, ../sass/_whycricket.scss */
#flexible-payment-plans h4, #flexible-payment-plans p {
  margin-bottom: 0;
}

/* line 175, ../sass/_whycricket.scss */
#coverage {
  padding: 1em 0 0 0;
  padding: 3em 0 1em 0;
}
/* line 177, ../sass/_whycricket.scss */
#coverage .left-content, #coverage .right-content {
  padding: 1em 2em;
}
/* line 178, ../sass/_whycricket.scss */
#coverage h2 {
  color: #008752;
  font-size: 45px;
}
/* line 182, ../sass/_whycricket.scss */
#coverage .sub-title {
  text-transform: uppercase;
  font-family: "GothamMedium";
  font-size: 1em;
  margin-bottom: 2em;
}
/* line 188, ../sass/_whycricket.scss */
#coverage p {
  max-width: 100%;
}
/* line 189, ../sass/_whycricket.scss */
#coverage img {
  margin-bottom: 0.3em;
}
/* line 192, ../sass/_whycricket.scss */
#coverage .left-content, #coverage .right-content {
  padding: 0 4em;
}
/* line 193, ../sass/_whycricket.scss */
#coverage .right-content {
  background: transparent url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/black-vertical-line-small.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat 0 50%;
}
/* line 196, ../sass/_whycricket.scss */
#coverage p {
  text-align: left;
}

/* line 200, ../sass/_whycricket.scss */
#song-downloads {
  background: #01943c url(//images.mycricket.com/cricket?set=imageURL[file:/img/why-cricket/bg-song-downloads.jpg],imageHeight[0],imageFormat[jpg],imageQuality[90]&call=url[file:cricket/default.chain]) no-repeat top right;
  background-position: 50% 0;
  height: 506px;
}
/* line 202, ../sass/_whycricket.scss */
#song-downloads .left-content {
  padding: 4em 1em 1em 1em;
}
/* line 203, ../sass/_whycricket.scss */
#song-downloads h2, #song-downloads h4, #song-downloads ul li {
  color: #fff;
}
/* line 204, ../sass/_whycricket.scss */
#song-downloads h2 {
  font-size: 45px;
  line-height: 0.8em;
}
/* line 205, ../sass/_whycricket.scss */
#song-downloads h4 {
  font-size: 20px;
  line-height: 0.9em;
  margin-bottom: 1em;
  padding-right: 2.5em;
}
/* line 206, ../sass/_whycricket.scss */
#song-downloads ul {
  margin-bottom: 2em;
}
/* line 210, ../sass/_whycricket.scss */
#song-downloads .left-content {
  padding: 6em 1em 0 0;
}

/* line 2, ../sass/_404.scss */
.site-map h2 {
  color: #008752;
  font-size: 30px;
}
/* line 3, ../sass/_404.scss */
.site-map h3 {
  font: normal 18px/22px 'GothamBlack';
  text-transform: uppercase;
  color: #008752;
}
/* line 8, ../sass/_404.scss */
.site-map ul li {
  list-style-type: none;
}
/* line 9, ../sass/_404.scss */
.site-map ul li ul {
  margin-left: 0;
}

/* Order Status Page Addon */
/* line 14, ../sass/_404.scss */
#constructor.order-status p {
  font-family: 'GothamBook';
}
/* line 15, ../sass/_404.scss */
#constructor.order-status h1 {
  color: #008752;
}
/* line 16, ../sass/_404.scss */
#constructor.order-status h1 span {
  color: #20a82c;
}
/* line 17, ../sass/_404.scss */
#constructor.order-status #statusform {
  background-color: #F1F1F1;
  padding-bottom: 3em;
}
/* line 18, ../sass/_404.scss */
#constructor.order-status #statusform-header.row {
  background-color: transparent;
  padding-top: 2em;
}
/* line 19, ../sass/_404.scss */
#constructor.order-status #statusform-content {
  border: 2px solid #e3e3e3;
  padding: 2em;
  background: #fff;
}
/* line 20, ../sass/_404.scss */
#constructor.order-status #order_num {
  margin: 0 10px 0 0;
  line-height: 2em;
  color: #333;
}
/* line 21, ../sass/_404.scss */
#constructor.order-status #erroremptyorder p {
  font-weight: bold;
  color: #dc0000;
}
/* line 23, ../sass/_404.scss */
#constructor.order-status h2, #constructor.order-status .order-number {
  font-size: 1.1em;
  font-family: 'GothamMedium';
  font-weight: bold;
  padding-left: 0.5em;
}
/* line 24, ../sass/_404.scss */
#constructor.order-status table {
  border: none;
}
/* line 25, ../sass/_404.scss */
#constructor.order-status table tr {
  background-color: transparent;
}
/* line 26, ../sass/_404.scss */
#constructor.order-status table td {
  vertical-align: text-top;
  font-family: 'GothamBook';
}
/* line 27, ../sass/_404.scss */
#constructor.order-status label {
  color: #333;
  font-weight: bold;
}
/* line 29, ../sass/_404.scss */
#constructor.order-status #order-activity {
  background-color: #f7f7f7;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  border-top: none;
  padding: 1em 2em;
}
/* line 37, ../sass/_404.scss */
#constructor.order-status #order-activity h2 {
  color: #008752;
}
/* line 38, ../sass/_404.scss */
#constructor.order-status #order-activity .row {
  padding: 0;
}
/* line 39, ../sass/_404.scss */
#constructor.order-status #order-activity table tr {
  background-color: #f7f7f7;
}

/* line 8, ../sass/fixed-width.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/lib/boxsizing.htc);
}

/* line 15, ../sass/fixed-width.scss */
body {
  cursor: auto !important;
}

/* line 17, ../sass/fixed-width.scss */
.li-ie9 a {
  text-decoration: none;
}

/* The Grid ---------------------- */
/* line 22, ../sass/fixed-width.scss */
.lt-ie9 .row {
  width: 1000px;
  max-width: 100%;
  min-width: 960px;
  margin: 0 auto;
}

/* line 23, ../sass/fixed-width.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}

/* line 25, ../sass/fixed-width.scss */
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns {
  padding: 0;
}

/* line 26, ../sass/fixed-width.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}

/* line 27, ../sass/fixed-width.scss */
.lt-ie9 .row .row.large-collapse {
  margin: 0;
}

/* line 29, ../sass/fixed-width.scss */
.lt-ie9 .column, .lt-ie9 .columns {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}

/* line 30, ../sass/fixed-width.scss */
.lt-ie9 .column.large-centered, .columns.large-centered {
  float: none;
  margin: 0 auto;
}

/* line 32, ../sass/fixed-width.scss */
.lt-ie9 [class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 33, ../sass/fixed-width.scss */
.lt-ie9 [class*="column"] + [class*="column"].end {
  float: left;
}

/* line 36, ../sass/fixed-width.scss */
.lt-ie9 .large-1,
.lt-ie9 .row .large-1 {
  width: 8.33333%;
}

/* line 39, ../sass/fixed-width.scss */
.lt-ie9 .large-2,
.lt-ie9 .row .large-2 {
  width: 16.66667%;
}

/* line 42, ../sass/fixed-width.scss */
.lt-ie9 .large-3,
.lt-ie9 .row .large-3 {
  width: 25%;
}

/* line 45, ../sass/fixed-width.scss */
.lt-ie9 .large-4,
.lt-ie9 .row .large-4 {
  width: 33.33333%;
}

/* line 48, ../sass/fixed-width.scss */
.lt-ie9 .large-5,
.lt-ie9 .row .large-5 {
  width: 41.66667%;
}

/* line 51, ../sass/fixed-width.scss */
.lt-ie9 .large-6,
.lt-ie9 .row .large-6 {
  width: 50%;
}

/* line 54, ../sass/fixed-width.scss */
.lt-ie9 .large-7,
.lt-ie9 .row .large-7 {
  width: 58.33333%;
}

/* line 57, ../sass/fixed-width.scss */
.lt-ie9 .large-8,
.lt-ie9 .row .large-8 {
  width: 66.66667%;
}

/* line 60, ../sass/fixed-width.scss */
.lt-ie9 .large-9,
.lt-ie9 .row .large-9 {
  width: 75%;
}

/* line 63, ../sass/fixed-width.scss */
.lt-ie9 .large-10,
.lt-ie9 .row .large-10 {
  width: 83.33333%;
}

/* line 66, ../sass/fixed-width.scss */
.lt-ie9 .large-11,
.lt-ie9 .row .large-11 {
  width: 91.66667%;
}

/* line 69, ../sass/fixed-width.scss */
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 {
  width: 100%;
}

/* line 71, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-1 {
  margin-left: 8.33333%;
}

/* line 72, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-2 {
  margin-left: 16.66667%;
}

/* line 73, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-3 {
  margin-left: 25%;
}

/* line 74, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-4 {
  margin-left: 33.33333%;
}

/* line 75, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-5 {
  margin-left: 41.66667%;
}

/* line 76, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-6 {
  margin-left: 50%;
}

/* line 77, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-7 {
  margin-left: 58.33333%;
}

/* line 78, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-8 {
  margin-left: 66.66667%;
}

/* line 79, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-9 {
  margin-left: 75%;
}

/* line 80, ../sass/fixed-width.scss */
.lt-ie9 .row .large-offset-10 {
  margin-left: 83.33333%;
}

/* line 82, ../sass/fixed-width.scss */
.lt-ie9 .pull-2 {
  right: 16.66667%;
}

/* line 83, ../sass/fixed-width.scss */
.lt-ie9 .pull-3 {
  right: 25%;
}

/* line 84, ../sass/fixed-width.scss */
.lt-ie9 .pull-4 {
  right: 33.33333%;
}

/* line 85, ../sass/fixed-width.scss */
.lt-ie9 .pull-5 {
  right: 41.66667%;
}

/* line 86, ../sass/fixed-width.scss */
.lt-ie9 .pull-6 {
  right: 50%;
}

/* line 87, ../sass/fixed-width.scss */
.lt-ie9 .pull-7 {
  right: 58.33333%;
}

/* line 88, ../sass/fixed-width.scss */
.lt-ie9 .pull-8 {
  right: 66.66667%;
}

/* line 89, ../sass/fixed-width.scss */
.lt-ie9 .pull-9 {
  right: 75%;
}

/* line 90, ../sass/fixed-width.scss */
.lt-ie9 .pull-10 {
  right: 83.33333%;
}

/* line 92, ../sass/fixed-width.scss */
.lt-ie9 .push-2 {
  left: 16.66667%;
}

/* line 93, ../sass/fixed-width.scss */
.lt-ie9 .push-3 {
  left: 25%;
}

/* line 94, ../sass/fixed-width.scss */
.lt-ie9 .push-4 {
  left: 33.33333%;
}

/* line 95, ../sass/fixed-width.scss */
.lt-ie9 .push-5 {
  left: 41.66667%;
}

/* line 96, ../sass/fixed-width.scss */
.lt-ie9 .push-6 {
  left: 50%;
}

/* line 97, ../sass/fixed-width.scss */
.lt-ie9 .push-7 {
  left: 58.33333%;
}

/* line 98, ../sass/fixed-width.scss */
.lt-ie9 .push-8 {
  left: 66.66667%;
}

/* line 99, ../sass/fixed-width.scss */
.lt-ie9 .push-9 {
  left: 75%;
}

/* line 100, ../sass/fixed-width.scss */
.lt-ie9 .push-10 {
  left: 83.33333%;
}

/* Nicolas Gallagher's micro clearfix */
/* line 103, ../sass/fixed-width.scss */
.lt-ie9 .row {
  *zoom: 1;
}

/* line 104, ../sass/fixed-width.scss */
.lt-ie9 .row:before, .row:after {
  content: " ";
  display: table;
}

/* line 105, ../sass/fixed-width.scss */
.lt-ie9 .row:after {
  clear: both;
}

/** IE really doesn't like hiding stuff by default ***/
/* line 110, ../sass/fixed-width.scss */
.lt-ie9 .show-for-small,
.lt-ie9 .show-for-medium-down,
.lt-ie9 .show-for-large-down {
  display: none !important;
}

/* line 117, ../sass/fixed-width.scss */
.lt-ie9 .show-for-medium,
.lt-ie9 .show-for-medium-up,
.lt-ie9 .show-for-large,
.lt-ie9 .show-for-large-up,
.lt-ie9 .show-for-xlarge {
  display: block !important;
}

/* line 125, ../sass/fixed-width.scss */
.lt-ie9 .hide-for-medium,
.lt-ie9 .hide-for-medium-up,
.lt-ie9 .hide-for-large,
.lt-ie9 .hide-for-large-up,
.lt-ie9 .hide-for-xlarge {
  display: block !important;
}

/* line 130, ../sass/fixed-width.scss */
.lt-ie9 .hide-for-small,
.lt-ie9 .hide-for-medium-down,
.lt-ie9 .hide-for-large-down {
  display: block !important;
}

/** Top Bar Fixes for IE8 **/
/* line 134, ../sass/fixed-width.scss */
.lt-ie9 .top-bar {
  background: #2f2f2f;
  *zoom: 1;
  overflow: visible;
}

/* line 139, ../sass/fixed-width.scss */
.lt-ie9 .top-bar:before, .lt-ie9 .top-bar:after {
  content: " ";
  display: table;
}

/* line 143, ../sass/fixed-width.scss */
.lt-ie9 .top-bar:after {
  clear: both;
}

/* line 144, ../sass/fixed-width.scss */
.lt-ie9 .top-bar .toggle-topbar {
  display: none;
}

/* line 145, ../sass/fixed-width.scss */
.lt-ie9 .top-bar .title-area {
  float: left;
}

/* line 146, ../sass/fixed-width.scss */
.lt-ie9 .top-bar .name h1 a {
  width: auto;
}

/* line 148, ../sass/fixed-width.scss */
.lt-ie9 .top-bar input,
.lt-ie9 .top-bar .button {
  line-height: 2em;
  font-size: 0.875em;
  height: 2em;
  padding: 0 10px;
  position: relative;
  top: 8px;
}

/* line 156, ../sass/fixed-width.scss */
.lt-ie9 .top-bar.expanded {
  background: #111111;
}

/* line 157, ../sass/fixed-width.scss */
.lt-ie9 .contain-to-grid .top-bar {
  max-width: 57.5em;
  margin: 0 auto;
}

/* line 161, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section {
  -webkit-transition: none 0 0;
  -moz-transition: none 0 0;
  transition: none 0 0;
  left: 0 !important;
}

/* line 167, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section ul {
  width: auto;
  height: auto !important;
  display: inline;
}

/* line 172, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section ul li {
  float: left;
}

/* line 173, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section ul li > a {
  padding-right: 14px !important;
}

/* line 174, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section ul li .js-generated {
  display: none;
}

/* line 175, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section li a:not(.button) {
  padding: 0 15px;
  line-height: 45px;
  background: #111111;
}

/* line 180, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section li a:not(.button):hover {
  background: #2b2b2b;
}

/* line 181, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .has-dropdown > a {
  padding-right: 35px !important;
}

/* line 182, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  margin-top: -2.5px;
}

/* line 191, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .has-dropdown.moved {
  position: relative;
}

/* line 192, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .has-dropdown.moved > .dropdown {
  visibility: hidden;
}

/* line 194, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .has-dropdown:hover > .dropdown,
.lt-ie9 .top-bar-section .has-dropdown:active > .dropdown {
  visibility: visible;
}

/* line 195, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
  border: none;
  content: "\00bb";
  margin-top: -7px;
  right: 5px;
}

/* line 201, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .dropdown {
  left: 0;
  top: auto;
  background: transparent;
}

/* line 206, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .dropdown li a {
  line-height: 1;
  white-space: nowrap;
  padding: 7px 15px;
  background: #1e1e1e;
}

/* line 212, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .dropdown li label {
  white-space: nowrap;
  background: #1e1e1e;
}

/* line 216, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .dropdown li .dropdown {
  left: 100%;
  top: 0;
}

/* line 220, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section > ul > .divider {
  border-bottom: none;
  border-top: none;
  border-right: solid 1px #2b2b2b;
  border-left: solid 1px black;
  clear: none;
  height: 45px;
  width: 0px;
}

/* line 229, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section .has-form {
  background: #111111;
  padding: 0 15px;
  height: 45px;
}

/* line 234, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section ul.right li .dropdown {
  left: auto;
  right: 0;
}

/* line 238, ../sass/fixed-width.scss */
.lt-ie9 .top-bar-section ul.right li .dropdown li .dropdown {
  right: 100%;
}

/* Header Fixes */
/* line 241, ../sass/fixed-width.scss */
.lt-ie10 .drawer-utility .drawer-wrapper .form-container {
  padding: 1.875em 0 7.5em !important;
}

/* Completely Hide the Mobile Drawers - never going to need them for IE*/
/* line 246, ../sass/fixed-width.scss */
#drawer-mobile-location {
  display: none;
}

/* line 247, ../sass/fixed-width.scss */
.lt-ie9 #header .mobile-location {
  display: none;
}

/* line 249, ../sass/fixed-width.scss */
.lt-ie9 #drawer-log-in label.password-label-ie {
  display: block;
}

/* line 254, ../sass/fixed-width.scss */
.lt-ie8 #drawer-search.closed,
.lt-ie8 #drawer-log-in.closed,
.lt-ie8 #drawer-cart.closed,
.lt-ie8 #drawer-location.closed {
  display: none;
  height: 0 !important;
}

/* line 262, ../sass/fixed-width.scss */
.lt-ie8 #drawer-search.open,
.lt-ie8 #drawer-log-in.open,
.lt-ie8 #drawer-cart.open,
.lt-ie8 #drawer-location.open {
  display: block;
  height: 18.75em;
}

/* line 267, ../sass/fixed-width.scss */
.lt-ie8 #drawer-log-in.open {
  height: 150px !important;
}

/* line 271, ../sass/fixed-width.scss */
.lt-ie8 #drawer-location.open {
  height: 150px !important;
}

/* line 275, ../sass/fixed-width.scss */
.lt-ie9 #drawer-location .zip-results a {
  color: #FFFFFF !important;
}

/* line 277, ../sass/fixed-width.scss */
.lt-ie8 #drawer-search.open {
  height: 150px !important;
}

/* line 281, ../sass/fixed-width.scss */
.lt-ie8 #drawer-cart.open {
  height: 150px !important;
}

/* line 285, ../sass/fixed-width.scss */
.lt-ie8 .acLoading {
  display: none;
}

/* line 287, ../sass/fixed-width.scss */
.lt-ie8 #chat-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 293, ../sass/fixed-width.scss */
.lt-ie8 #chat-container {
  position: absolute;
  _top: expression(eval(document.documentElement.scrollTop(document.documentElement.clientHeight-this.offsetHeight)));
}

/** Lets not use fancy checkboxes for Ie7 ***/
/* line 301, ../sass/fixed-width.scss */
.ie7 input {
  display: block !important;
}
/* line 302, ../sass/fixed-width.scss */
.ie7 label span.checkbox {
  display: none !important;
}

/* Phones Filter Fixes */
/* line 307, ../sass/fixed-width.scss */
.lt-ie9 #section-filters .top-bar ul li.has-dropdown a {
  background-color: #fff;
  height: 53px;
  padding-top: 10px;
  line-height: 33px;
}
/* line 313, ../sass/fixed-width.scss */
.lt-ie9 #section-filters .top-bar ul li.has-dropdown ul.dropdown {
  width: 1000px;
}

/** Accessories Listing, use default select dropdowns **/
/* line 319, ../sass/fixed-width.scss */
.lt-ie9 .section-accessories-listing #section-filters .dropdown-selectors dd {
  background-image: none;
  background: none;
}

/* line 323, ../sass/fixed-width.scss */
.lt-ie9 .section-accessories-listing #section-filters .dropdown-selectors dd select {
  padding-top: 0;
  height: 2em;
}

/** Accessories Details - force add padding to top just in case JS with foundation tabs doesn't fire **/
/* line 329, ../sass/fixed-width.scss */
.lt-ie9 #tab-content section.active {
  padding-top: 51px;
}

/* IE8 doesn't like :last-child*/
/* line 331, ../sass/fixed-width.scss */
.lt-ie9 #tab-content .section-container section .title {
  border-right: 1px solid #C4C4C4;
}

/*** Why Cricket thumbnails - force to be small ***/
/* line 334, ../sass/fixed-width.scss */
.lt-ie9 #plans-callout.why-cricket .left-content {
  padding: 9em 0 0 0;
}

/* line 337, ../sass/fixed-width.scss */
.lt-ie9 #plans-callout ul {
  list-style-type: none;
}

/* line 338, ../sass/fixed-width.scss */
.lt-ie9 #plans-callout ul li.first {
  margin-left: 0;
}

/* line 339, ../sass/fixed-width.scss */
.lt-ie9 #plans-callout ul li {
  width: 100px;
  height: 55px;
  float: left;
  margin-right: 1em;
}

/* Force IE7 to show videos in modals */
/* line 347, ../sass/fixed-width.scss */
.lt-ie9 .reveal-modal {
  width: 60% !important;
  margin-left: -32% !important;
  padding: 1.875em !important;
}

/* line 352, ../sass/fixed-width.scss */
.lt-ie9 .flex-video iframe {
  height: 100% !important;
  width: 100% !important;
}

/**** Global Fixes for IE7 ****/
/* line 358, ../sass/fixed-width.scss */
.ie7 #header #nav-utility ul li {
  float: left;
}

/* line 362, ../sass/fixed-width.scss */
.lt-ie9 #nav-utility ul {
  padding-top: 5px;
}

/* line 366, ../sass/fixed-width.scss */
.lt-ie9 #nav-utility ul li {
  display: inline;
}

/* line 372, ../sass/fixed-width.scss */
.ie7 #footer-connect .social-links li {
  float: left;
  width: 40px;
}

/* line 379, ../sass/fixed-width.scss */
.ie7 #footer-utility ul li {
  float: left;
}

/* line 383, ../sass/fixed-width.scss */
.ie7 #footer a.button {
  float: left;
}

/* Plans Table Fixes */
/* line 388, ../sass/fixed-width.scss */
.lt-ie9 .section-plans-listing #section-plans-list .table-plans-list thead tr.features-heading th {
  background-color: #019644;
}

/* line 391, ../sass/fixed-width.scss */
.lt-ie9 .section-plans-listing #section-plans-list .table-plans-list thead tr.features-heading th.bg-smartplan {
  background-color: #00642B;
}

/* line 394, ../sass/fixed-width.scss */
.ie8 .section-plans-listing #section-plans-list .table-plans-list tbody td span.has-tip {
  background: white url(../img/plans/icon-circle-green.jpg) center center no-repeat;
}

/* Plan Details Table Fixes */
/* line 399, ../sass/fixed-width.scss */
.lt-ie9 .section-plan-details #hero-plan-detail-container {
  margin-top: 85px;
}

/* line 403, ../sass/fixed-width.scss */
.lt-ie9 .section-plan-details #hero-plan-detail-container h2 {
  display: block;
}

/* line 407, ../sass/fixed-width.scss */
.lt-ie9 .section-plan-details #hero-other-plan-container {
  text-align: right;
}

/* line 411, ../sass/fixed-width.scss */
.lt-ie9 .section-plan-details #hero-other-plan-container #other-plan-header {
  text-align: right;
}

/* Checkout Section Fixes */
/* line 416, ../sass/fixed-width.scss */
.lt-ie9 .section-checkout #section-checkout-form .details-content {
  width: 62.5em;
}

/* line 420, ../sass/fixed-width.scss */
.lt-ie9 .section-checkout #section-checkout-form .details-content .form fieldset label.shipping-method-label {
  width: 100%;
}

/* line 424, ../sass/fixed-width.scss */
.lt-ie9 .section-checkout select {
  padding: 4px 4px 5px 4px;
  margin-top: 4px;
}

/* Plans Addons fixes */
/* line 427, ../sass/fixed-width.scss */
.lt-ie9 .section-plan-addons-details #tab-content #included ul li {
  margin-left: 5px;
}

/* Forcing banner height for ie8 */
/* line 430, ../sass/fixed-width.scss */
.lt-ie9 .static-banner.footer {
  height: 250px;
}
/* line 432, ../sass/fixed-width.scss */
.lt-ie9 .static-banner.footer .spacer {
  display: none;
}

/* User should never see small banner image in IE8 */
/* line 437, ../sass/fixed-width.scss */
.lt-ie9 .show-for-footer-small {
  display: none !important;
}

/* line 440, ../sass/fixed-width.scss */
.lt-ie9 .section-plan-addons-details #tab-content p.title {
  border-right: 1px solid #C4C4C4;
}
