<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<display-name>ATG Webservices for ESP</display-name>
<filter>
<filter-name>WSDLImportFilter</filter-name>
<filter-class>atg.webservice.WSDLImportFilter</filter-class>
</filter>
<filter>
<filter-name>SOAPFactoriesFilter</filter-name>
<filter-class>atg.webservice.filter.SOAPFactoriesFilter</filter-class>
<init-param>
<param-name>javax.xml.soap.MessageFactory</param-name>
<param-value>com.sun.xml.messaging.saaj.soap.ver1_1.SOAPMessageFactory1_1Impl</param-value>
</init-param>
<init-param>
<param-name>javax.xml.soap.MetaFactory</param-name>
<param-value>com.sun.xml.messaging.saaj.soap.SAAJMetaFactoryImpl</param-value>
</init-param>
<init-param>
<param-name>javax.xml.rpc.ServiceFactory</param-name>
<param-value/>
</init-param>
</filter>
<filter-mapping>
<filter-name>WSDLImportFilter</filter-name>
<url-pattern>/UpdatePIMDataFeedService/*</url-pattern>
</filter-mapping>
<filter-mapping>
<filter-name>SOAPFactoriesFilter</filter-name>
<url-pattern>/UpdatePIMDataFeedService/*</url-pattern>
</filter-mapping>
<filter-mapping>
<filter-name>WSDLImportFilter</filter-name>
<url-pattern>/UpdatePARCDataFeedService/*</url-pattern>
</filter-mapping>
<filter-mapping>
<filter-name>SOAPFactoriesFilter</filter-name>
<url-pattern>/UpdatePARCDataFeedService/*</url-pattern>
</filter-mapping>
<filter-mapping>
<filter-name>WSDLImportFilter</filter-name>
<url-pattern>/updateWebProduct/*</url-pattern>
</filter-mapping>
<filter-mapping>
<filter-name>SOAPFactoriesFilter</filter-name>
<url-pattern>/updateWebProduct/*</url-pattern>
</filter-mapping>
<servlet>
<servlet-name>WebServiceRegistrar</servlet-name>
<display-name>WebServiceRegistrar</display-name>
<description>ATG WebServiceRegistrar for registering servlet web-services.</description>
<servlet-class>atg.webservice.WebServiceRegistrar</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet>
<servlet-name>Nucleus</servlet-name>
<display-name>Nucleus</display-name>
<servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet>
<servlet-name>UpdatePIMDataFeedService</servlet-name>
<display-name>updatePIMDataFeedService</display-name>
<servlet-class>com.sun.xml.rpc.server.http.JAXRPCServlet</servlet-class>
<init-param>
<param-name>configuration.file</param-name>
<param-value>/WEB-INF/wsconfig/UpdatePIMDataFeedService_Config.properties</param-value>
</init-param>
</servlet>
<servlet>
<servlet-name>UpdatePARCDataFeedService</servlet-name>
<display-name>updatePARCDataFeedService</display-name>
<servlet-class>com.sun.xml.rpc.server.http.JAXRPCServlet</servlet-class>
<init-param>
<param-name>configuration.file</param-name>
<param-value>/WEB-INF/wsconfig/UpdatePARCDataFeedService_Config.properties</param-value>
</init-param>
</servlet>
<servlet>
<servlet-name>updateWebProduct</servlet-name>
<display-name>updateWebProduct</display-name>
<servlet-class>com.sun.xml.rpc.server.http.JAXRPCServlet</servlet-class>
<init-param>
<param-name>configuration.file</param-name>
<param-value>/WEB-INF/wsconfig/updateWebProduct_Config.properties</param-value>
</init-param>
</servlet>
<servlet>
<servlet-name>WSDLFinder</servlet-name>
<display-name>WSDLFinder</display-name>
<description>Used to lookup imported wsdl files.</description>
<servlet-class>atg.webservice.WSDLFinderServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdatePIMDataFeedService</servlet-name>
<url-pattern>/UpdatePIMDataFeedService/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>UpdatePARCDataFeedService</servlet-name>
<url-pattern>/UpdatePARCDataFeedService/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>updateWebProduct</servlet-name>
<url-pattern>/updateWebProduct/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>WSDLFinder</servlet-name>
<url-pattern>/atg.security.wsdl</url-pattern>
</servlet-mapping>
</web-app>
